{% extends 'base.html' %}

{% block content %}
    <div class="content-card-lite content-cards__card card-main">
        <div class="content-cards__card__inner background--transparent border--dove-5  content-cards__card--rounded">
            <div class="card-content">
                <div id="cc-main-conversion-block">
                    <div class="conversion-block1">
                        <h3>Convert From</h3>
                        <div class="currency-input1">
                            <label for="amount">Amount:</label>
                            <input type="number" id="amount" name="amount" placeholder="Enter amount..." required>
                        </div>
                        <div class="currency-input2">
                            <label for="fromCurrency">Currency:</label>
                            <select id="fromCurrency" name="fromCurrency">
                                <option value="USD">US Dollar</option>
                            </select>
                        </div>
                    </div>
                    <div class="conversion-block2">
                        <h3>Convert To</h3>
                        <div class="currency-output">
                            <label for="toCurrency">Amount:</label>
                            <input type="number" id="amount" name="amount" required placeholder="Enter amount...">
                        </div>
                        <div class="currency-input3">
                            <label for="toCurrency">Currency:</label>
                            <select id="toCurrency" name="toCurrency">
                                <option value="UAH">Ukrainian Hryvnia</option>
                            </select>
                        </div>
                    </div>

                    <div class="conversion-block">
                        <button type="submit" id="convert-bottom"><a> Convert </a></button>
                    </div>
                </div>
                <div class="card-content-row indexed-cc-page">
                    <div id="result"></div>
                </div>
            </div>
            <div class="card-context text"></div>
        </div>
    </div>
{% endblock %}