{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange Rate</title>
    <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlctSTjzAeDe-Q_U3CpuO7BiWvigh2ehDbrw&usqp=CAU">
    </div>

    <nav class="inline-menu">
        <ul>
            <li><a>Home</a></li>
            <li><a>Services</a></li>
            <li><a>Community</a></li>
            <li><a>Currency</a></li>
        </ul>
    </nav>
</header>
<div class="content">
</div>

<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h2>About Us</h2>
            <p>Currency Exchange</p>
        </div>
        <div class="footer-section links">
            <h2>Links</h2>
            <ul>
                <li><a>Home</a></li>
                <li><a>Map</a></li>
            </ul>
        </div>
        <div class="footer-section contacts">
            <h2>Contacts</h2>
            <p>gmail@gmail.com</p>
            <p>+380639523264</p>
        </div>
    </div>
</footer>


</body>
</html>
